.Copyright-container {
    -webkit-box-orient: horizontal
}
textarea {
    overflow: auto
}

body {
    position: relative
}

b,
body,
div,
figure,
footer,
h1,
h3,
header,
html,
img,
p,
span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

.c15 {
    margin-bottom: 25px
}

.Body:last-child > :last-child,
.c15 .c3 p {
    margin-bottom: 0
}

.c15,
.c15 td,
.c15 tr {
    border: 1px solid #d6d6d6
}

.c15 .c3 p {
    padding: 5px 10px
}

table {
    border-spacing: 0
}

td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

figure,
footer,
header {
    display: block
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f2f2f2
}

.Body {
    font-size: 18px;
    line-height: 22px
}

@media only screen and (min-width:48em) {
    .Body {
        font-size: 20px;
        line-height: 27px
    }
}

.Body > * {
    max-width: 980px;
    font-family: PFRegal, Georgia, serif
}

.Body a:hover {
    color: #b88b58;
    -webkit-box-shadow: none;
    box-shadow: none
}

.Body p {
    margin-bottom: 15px
}

.Body h3 {
    margin-top: 18px;
    margin-bottom: 12px;
    font-family: 'Proxima Nova', Arial, 'Helvetica Neue', sans-serif;
    font-size: 21px;
    font-weight: 700
}

.App-content {
    overflow: visible
}

.MaterialTag {
    position: relative
}

.Copyright {
    padding: 0 12px;
    line-height: 1.2
}

@media only screen and (min-width:64em) {
    .Copyright {
        padding: 0
    }
}

.Copyright-container {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin: 0 auto;
    padding: 13px 0 12px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.App,
.MediaMaterial-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.Copyright-container a:hover {
    color: rgba(255, 255, 255, .5)
}

@media only screen and (min-width:48em) {
    .Copyright-container {
        max-width: 675px;
        padding: 10px 0 18px;
        border-top: 1px solid #505050;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        text-align: left
    }
}

@media only screen and (min-width:64em) {
    .Copyright-container {
        max-width: 860px
    }
}

.Copyright-container a {
    color: #fff
}

.Copyright-block {
    padding-top: 13px;
    font-size: 17px;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%
}

@media only screen and (min-width:48em) {
    .Copyright-block {
        padding-top: 0;
        border-top: 0
    }
}

.Copyright-block:last-child {
    text-align: right
}

.MaterialTag {
    z-index: 30;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 2px;
    font-weight: 700;
    line-height: 1;
    font-family: 'Proxima Nova', Arial, 'Helvetica Neue', sans-serif;
    color: #b88b58;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media only screen and (max-width:32em) {
    .MaterialTag {
        height: 15px;
        line-height: 15px;
        padding: 0 5px;
        font-size: 10px;
        letter-spacing: .5px
    }
}

span.MaterialTag {
    cursor: default;
    pointer-events: none
}

@media only screen and (min-width:32em) {
    .MaterialTag--medium {
        height: 20px;
        line-height: 20px;
        padding: 0 7px;
        letter-spacing: 1px;
        font-size: 12px
    }
}

.MaterialTag--solid {
    color: #fff;
    background: #b88b58;
    border-color: #b88b58;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5)
}

.FormField-input:placeholder {
    color: #AFAFAF
}

@media only screen and (min-width:48em) {
    .Messenger-content::-webkit-scrollbar-track:hover:vertical {
        background: #F3F3F3
    }

    .Messenger-content::-webkit-scrollbar-thumb:hover:vertical {
        background: #D9D9DE
    }
}

.MaterialMeta {
    display: inline-block;
    font-family: 'Proxima Nova', Arial, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: grey;
    margin-right: 12px;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px;
    font-weight: 400
}

.MaterialMeta--source {
    background-image: url(../fonts/e532f4e9c23677b76653507e723a39cd30cc6345.svg);
    background-position-y: 1px
}

@media only screen and (min-width:48em) {
    .MaterialMeta {
        font-size: 21px;
        line-height: 21px;
        margin-right: 15px
    }

    .MaterialMeta--source {
        background-position-y: 4px;
        white-space: nowrap
    }
}

.MaterialMeta--time {
    background-size: 12px 12px;
    background-image: url(../fonts/a3fd45d1f497f3bbdb85276e6ec08268ed939132.svg)
}


.MediaMaterialHeader-first {
    color: #000;
    line-height: 27px
}

.MediaMaterialHeader-first,
.MediaMaterialHeader-separator {
    -webkit-transition: color .25s ease-out;
    transition: color .25s ease-out;
    font-family: 'Proxima Nova', Arial, 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 700
}

.MediaMaterial {
    background-color: #fff;
    padding: 12px
}

.MediaMaterial-header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto 18px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start
}

@media only screen and (min-width:63.125em) {
    .MediaMaterial-header {
        max-width: 1000px;
        margin-bottom: 25px
    }
}

.MediaMaterial-tag {
    margin-bottom: 5px
}

.MediaMaterial-meta {
    margin-top: 12px
}

@media only screen and (min-width:48em) {
    .MediaMaterialHeader-first {
        line-height: 38px
    }

    .MediaMaterialHeader-first,
    .MediaMaterialHeader-separator {
        font-size: 36px
    }

    .MediaMaterial {
        padding: 25px 15px 20px
    }

    .MediaMaterial-tag {
        margin-bottom: 11px
    }

    .MediaMaterial-meta {
        margin-top: 12px
    }

    .MediaMaterial--fullWidth .MediaMaterial-header {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        text-align: center
    }
}

.MediaMaterial-materialContent {
    width: 100%;
    max-width: 650px
}

.MediaMaterial-body {
    position: relative;
    max-width: 650px;
    margin: 0 auto
}

@media only screen and (min-width:63.125em) {
    .MediaMaterial-body {
        max-width: 1000px
    }
}

.MediaMaterial--fullWidth .MediaMaterial-materialContent {
    max-width: none
}

.Material {
    padding: 12px 0 0
}

.Material-shadow {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    z-index: 300;
    background-color: rgba(0, 0, 0, .15)
}

.App-content,
.App-footer {
    z-index: 1;
    position: relative;
}

.Material-shadow--top {
    top: 0
}

.Material-container {
    background: #fff;
    position: relative
}

@media only screen and (min-width:48em) {
    .Material {
        padding: 15px 0 0
    }

    .Body h3 {
        margin-top: 35px;
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 27px
    }
}

.MaterialContent--bannerless .Body > * {
    margin-right: auto;
    margin-left: auto
}

.MaterialContent .Figure {
    margin-right: -12px;
    margin-left: -12px
}

@media only screen and (min-width:40.625em) {
    .MaterialContent .Figure {
        margin-right: auto;
        margin-left: auto
    }

    .Figure img {
        border-radius: 2px
    }
}

.Figure {
    margin: 15px -12px
}

.Figure img {
    display: block;
    margin: 5px auto
}

.App {
    display: -webkit-box;
    display: -ms-flexbox
}

@media only screen and (min-width:48em) {
    .Figure {
        margin: 27px auto 20px
    }
}

@media only screen and (min-width:75em) {
    .Figure {
        max-width: 650px
    }
}

.Figure img {
    max-width: 100%;
    vertical-align: bottom
}

img {
    vertical-align: middle
}

.Figure-caption {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 7px 12px 0;
    font-size: 15px;
    line-height: 17px
}

@media only screen and (min-width:40.625em) {
    .Figure-caption {
        padding-right: 0;
        padding-left: 0;
        font-size: 16px;
        line-height: 18px
    }
}

.App {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100vh;
    -webkit-transition: -webkit-transform .25s ease-out;
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out
}

.App-content,
.App-footer {
    -webkit-transition: -webkit-transform .25s ease-out;
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out
}

.App-content {
    background-color: #f2f2f2;
    -ms-flex: 1 0 auto;
    -webkit-box-flex: 1;
    flex: 1 0 auto
}

.App--isMaterial .App-content {
    background-color: #E6E6E6
}

.Footer {
    color: #999;
    background-color: #252525;
    font-family: 'Proxima Nova', Arial, 'Helvetica Neue', sans-serif
}

figure,
footer,
header,
main,
section {
    display: block
}

.Body a {
    color: #00f
}

img {
    border: 0
}

/*!
 * Bootstrap v3.2.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body,
figure {
    margin: 0
}

a {
    background: 0 0
}

a:active,
a:hover {
    outline: 0
}

b {
    font-weight: 700
}

h1 {
    margin: .67em 0
}

input,
textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

input::-moz-focus-inner {
    padding: 0;
    border: 0
}

textarea {
    resize: horizontal
}

td {
    padding: 0
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a:focus,
a:hover {
    color: #2a6496;
    text-decoration: underline
}

a:focus {
    outline-offset: -2px
}

h1,
h3 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h3 {
    font-size: 24px
}

p {
    margin: 0 0 10px
}

table {
    background-color: transparent
}

@media (min-width:768px) {

    .cont {
        width: 750px
    }
}

.cont {
    margin-right: auto;
    margin-left: auto
}

.cont {
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:992px) {
    .cont {
        width: 970px
    }
}

@media (min-width:1200px) {
    .cont {
        width: 1170px
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:992px) {

    .col-md-4 {
        float: left
    }

    .col-md-4 {
        width: 33.33333333%
    }
}

table {
    border-collapse: collapse
}

a {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

.cont:after,
.cont:before,
.row:after,
.row:before {
    display: table;
    content: " "
}

.cont:after,
.row:after {
    clear: both
}

body,
h1,
h3 {
    font-family: 'Open Sans', sans-serif
}

a,
a:hover {
    color: #AF242C
}

@-ms-viewport {
    width: device-width
}

body {
    background: #fff;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden
}

::-moz-selection {
    background: #AF242C
}

::selection {
    background: #AF242C
}

h1,
h3 {
    font-weight: 700
}

a {
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

a:hover {
    text-decoration: underline
}

a:focus {
    outline: 0
}

img {
    max-width: 100%
}

::-moz-selection {
    color: #fff
}

::selection {
    color: #fff
}

::-moz-selection {
    background: #AF242C;
    color: #fff
}

.opacity {
    opacity: 1
}

#head {
    background: url(../images/bgshort2.jpg) top center;
    height: 245px;
    background-size: cover;
}

body {
    padding-top: 0 !important
}

.rub-ramka {
    background: rgba(3, 224, 0, .04);
    padding: 6px 13px !important;
    border-radius: 2px;
    border: 4px double rgba(21, 160, 37, .32);
    font-family: open sans, arial;
    line-height: 28px;
    font-size: 16px;
    margin: 0 auto;
    font-weight: 400;
    color: #4a4a4a
}

.myh4 {
    padding: 6px 4px 4px 5px;
    width: 100%;
    display: table;
    border: 1px dotted #e2e2e2;
    border-right: none;
    color: #3a753a;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 9px;
    line-height: 23px;
    border-radius: 2px;
    margin-top: 5px;
    margin-left: -3px;
    font-weight: 600;
    background-color: #f5fef5;
    background-image: -webkit-repeating-linear-gradient(0deg, #bfe6bf 0, #f5fef5 100%);
    background-image: repeating-linear-gradient(90deg, #bfe6bf 0, #f5fef5 100%);
    background-image: -ms-repeating-linear-gradient(0deg, #bfe6bf 0, rgba(3, 224, 0, .04) 100%)
}

.comment-name {
    font-weight: 700
}

@media screen and (max-width:1020px) {
    .rub-ramka {
        max-width: 95%
    }
}

#product-block {
    background: url(../images/order_tube.png) center center no-repeat;
    height: 349px;
    width: 100% !important;
    display: block;
    margin: 0 !important;
    background-size: contain;
    text-align: center
}

@media screen and (max-width:767px) {
    #product-block {
        width: 100% !important;
        height: 224px !important;
        margin: 0 !important
    }
}

#push-comments #push_3dv4f7 {
    background-color: #f0f0f0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, serif;
    padding: 3rem 2rem;
    -webkit-transition: 1s;
    transition: 1s;
    width: 100%
}

#push-comments #push_3dv4f7__form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    max-width: 600px
}

#push-comments #push_3dv4f7__title {
    color: #43A047;
    border-bottom: 0 solid;
    -webkit-box-shadow: 1px 4px 10px -7px #ccc;
    box-shadow: 1px 4px 10px -7px #ccc;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 16px
}

#push-comments #push_3dv4f7__message,
.comment-input {
    border: 1px solid #43A047;
    -webkit-box-shadow: 0 2px 4px -3px #237a27;
    box-shadow: 0 2px 4px -3px #237a27;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
    height: 120px;
    width: 100%
}

#push-comments #push_3dv4f7__submit {
    background: #43A047;
    border: none;
    -webkit-box-shadow: 0 2px 4px -3px #000;
    box-shadow: 0 2px 4px -3px #000;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
    display: table;
    margin: 20px 0 0;
    height: 50px;
    -webkit-transition: .5s;
    transition: .5s;
    text-align: center;
    text-shadow: 0 0 1px #237a27;
    font-size: 18px;
    max-width: 280px;
    width: 100%
}

#push-comments #push_3dv4f7__submit:hover {
    background: #237a27;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.comment__top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.comment__wrap {
    margin-bottom: 15px
}

:focus,
a:active,
a:focus,
input,
input:active,
textarea,
textarea:active {
    outline: 0
}

.comment-block__wrap {
    margin-bottom: 25px
}

.opacity {
    -webkit-transition: all .4s;
    transition: all .4s;
    filter: alpha(opacity=100)
}

.opacity:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

.mycity {
    text-shadow: 0 0 0 #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .2px;
    background: #f1d7d7;
    padding: 2px 5px 1px 6px;
    margin-left: 5px;
    color: #000;
    font-weight: 500;
    line-height: 18px;
    vertical-align: super;
    border-radius: 1px;
    border: 3px double #fff;
    font-family: roboto condensed
}

.color_red {
    color: red;
}

.botton {
    color: red;
    font-family: roboto condensed;
    font-size: 34px;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    display: block;
    margin: 35px auto;
    color: red !important;
}

.block_m1 {
    padding: 10px;
    background-color: antiquewhite;
    margin: 20px auto;
}

.Figure-caption {
    width: 100%;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    line-height: 22px;
    max-width: 520px;
    padding-top: 4px;
    color: #1a1a1a;
    display: block;
}

.Figure {
    display: block;
    max-width: 650px;
    width: 100%;
    margin: 20px auto;
}

a.button {
    font-size: 120%;
    text-align: center;
    color: #fff !important;
    background-color: red;
    display: table;
    margin: 25px auto;
    width: 400px;
    max-width: 100%;
    border-radius: 15px;
    text-decoration: none;
    padding: 15px;
}

a.button:hover {
    background-color: #c11f1f;
}

.ittem-comment {
    display: block;
    position: relative;
    margin-bottom: 25px;
    min-height: 60px;
}

.ittem-comment p {
    display: block;
    position: relative;
    padding-left: 75px;
    margin-bottom: 5px;
    font-size: 90%;
    line-height: 1.3;
}

@media only screen and (max-width: 500px) {
    a.button {
        width: 100%;
    }
}

.ava-img {
    width: 60px;
    border-radius: 10px;
    display: block;
    position: relative;
    float: left;
}

.App-footer {
    
    margin-top: 30px;
}
